config-local.properties
# .idea but not runConfigurations
.idea/*
!/.idea/runConfigurations
.vscode/*
# Virtual python environment
.venv
# any __pycache__ and .pyc files
__pycache__/
*.pyc
# folder for temp files
.tmp
# Folder for gitlab-ci-local (run pipeline locally)
.gitlab-ci-local


# Code coverage reports
**/p_coverage.xml
**/p_result.xml
**/.coverage
**/coverage.xml